*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
}
.phone_screen{
    background-color:black;
    color: white;
    width: 250px;
    text-align: center;
}
.current-date{
    margin-top: 25px;
    font-size: 12px;
}
.big_counter{
    font-size: 43px;
    margin-top: 14px;
}

.today_counter{
    margin-top:14px ;
}

.howmuch_counter{
    margin-top:9px ;
    
}
.Liftime_counter{
    margin-top:9px ;
    
}
.howmuch_Liftime{
    margin-top:9px ;

}
.btn_container{
    width: 238px;
    display: inline-block;
    justify-content: center;
    height: 300px;
}
.del_btn{
    background-color: rgb(255, 145, 0);
    width: 115px;
    height: 115px;
    border-radius: 100%;
    margin-left: 61px;
    margin-top: 17px;

    
}

.add_btn{
    background-color: rgb(255, 145, 0);
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-left: 20px;
    margin-top: 14px;

}